<nav class="navbar">
  <div class="navbar__left">
    <img src="/assets/icons/code-logo.svg" alt="Logo" class="navbar__logo" />
    <span class="navbar__username">krzszk</span>
  </div>
  <div class="navbar__right">
    <div class="navbar__tabs">
      <a class="navbar__tab" routerLink="/" routerLinkActive="navbar__tab--active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="/assets/icons/overview.svg" alt="" class="navbar__tab-icon" />
        Overview
      </a>
      <a class="navbar__tab" routerLink="/experience" routerLinkActive="navbar__tab--active">
        <img src="/assets/icons/briefcase.svg" alt="" class="navbar__tab-icon" />
        Experience
      </a>
      <a class="navbar__tab" routerLink="/projects" routerLinkActive="navbar__tab--active">
        <img src="/assets/icons/repo.svg" alt="" class="navbar__tab-icon" />
        Projects
      </a>
    </div>
  </div>
</nav>
