<nav class="top-nav">
  <div class="nav-left">
    <img src="/assets/icons/code-logo.svg" alt="Logo" class="nav-logo" />
    <span class="nav-username">krzszk96</span>
  </div>
  <div class="nav-right">
    <div class="nav-tabs">
      <a class="nav-tab" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="/assets/icons/overview.svg" alt="" class="nav-icon" />
        Overview
      </a>
      <a class="nav-tab" routerLink="/experience" routerLinkActive="active">
        <img src="/assets/icons/briefcase.svg" alt="" class="nav-icon" />
        Experience
      </a>
      <a class="nav-tab" routerLink="/projects" routerLinkActive="active">
        <img src="/assets/icons/repo.svg" alt="" class="nav-icon" />
        Projects
      </a>
    </div>
  </div>
</nav>
