<aside class="sidebar">
  <div class="sidebar__profile">
    <div class="sidebar__avatar-container">
      <img
        class="sidebar__avatar"
        src="/assets/images/profile.jpg"
        alt="Krzysztof Szkudlarek"
      />
    </div>
    <div class="sidebar__info">
      <h1 class="sidebar__name">Krzysztof Szkudlarek</h1>
      <div class="sidebar__meta sidebar__meta--mobile">
        <span class="sidebar__meta-item">
          <img src="/assets/icons/people.svg" alt="" class="sidebar__meta-icon" />
          <span>B.Sc. Computer Science</span>
        </span>
        <span class="sidebar__meta-item">
          <img src="/assets/icons/location.svg" alt="" class="sidebar__meta-icon" />
          Warsaw, Poland
        </span>
        <span class="sidebar__meta-item">
          <img src="/assets/icons/link.svg" alt="" class="sidebar__meta-icon" />
          <a href="mailto:krzszk96&#64;gmail.com">krzszk96&#64;gmail.com</a>
        </span>
      </div>
    </div>
    <div class="sidebar__icons">
      <img src="/assets/icons/coffee.svg" alt="Coffee" />
      <img src="/assets/icons/code.svg" alt="Code" />
      <img src="/assets/icons/terminal.svg" alt="Terminal" />
      <img src="/assets/icons/layout.svg" alt="Frontend" />
      <img src="/assets/icons/rocket.svg" alt="Deploy" />
    </div>
    <p class="sidebar__bio">
      Front-end Developer with 4+ years of experience building scalable web
      applications using Angular, TypeScript, and AWS. Strong focus on
      performance, modular architecture, and user experience.
    </p>
    <button class="sidebar__btn" onclick="window.open('https://github.com/krzszk96', '_blank')">
      <img src="/assets/icons/github.svg" alt="" class="sidebar__btn-icon" /> GitHub
    </button>
    <button class="sidebar__btn" onclick="window.open('https://www.linkedin.com/in/krzysiek-szkudlarek/', '_blank')">
      <img src="/assets/icons/linkedin.svg" alt="" class="sidebar__btn-icon" /> LinkedIn
    </button>
    <div class="sidebar__meta sidebar__meta--desktop">
      <span class="sidebar__meta-item">
        <img src="/assets/icons/people.svg" alt="" class="sidebar__meta-icon" />
        <span>B.Sc. Computer Science</span>
      </span>
      <span class="sidebar__meta-item">
        <img src="/assets/icons/location.svg" alt="" class="sidebar__meta-icon" />
        Warsaw, Poland
      </span>
      <span class="sidebar__meta-item">
        <img src="/assets/icons/link.svg" alt="" class="sidebar__meta-icon" />
        <a href="mailto:krzszk96&#64;gmail.com">krzszk96&#64;gmail.com</a>
      </span>
    </div>
  </div>
</aside>
