<section class="skills">
  <div class="skills__header">
    <h2 class="skills__title">Skills</h2>
  </div>
  <div class="skills__container">
    <div class="skills__category">
      <h4 class="skills__category-title">Frontend Development</h4>
      <div class="skills__tags">
        <span class="skills__tag"><span class="skills__dot" style="background-color: #dd0031;"></span>Angular 20</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #dd0031;"></span>Angular Material</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #dd0031;"></span>PrimeNG</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #B7178C;"></span>RxJS</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #764ABC;"></span>NgRx</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #3178c6;"></span>TypeScript</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #f1e05a;"></span>JavaScript</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #4F5D95;"></span>Python</span>
      </div>
    </div>
    <div class="skills__category">
      <h4 class="skills__category-title">Backend & APIs</h4>
      <div class="skills__tags">
        <span class="skills__tag"><span class="skills__dot" style="background-color: #336791;"></span>PostgREST</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #68a063;"></span>Node.js (Express)</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #000000;"></span>JWT</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #58a6ff;"></span>RESTful APIs</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #58a6ff;"></span>Webhooks</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #58a6ff;"></span>Serverless</span>
      </div>
    </div>
    <div class="skills__category">
      <h4 class="skills__category-title">Cloud & DevOps</h4>
      <div class="skills__tags">
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FF9900;"></span>AWS Lambda</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FF9900;"></span>DynamoDB</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FF9900;"></span>Cognito</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FF9900;"></span>CloudFormation</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FF9900;"></span>Amplify</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #F05032;"></span>Git</span>
      </div>
    </div>
    <div class="skills__category">
      <h4 class="skills__category-title">CMS & E-commerce</h4>
      <div class="skills__tags">
        <span class="skills__tag"><span class="skills__dot" style="background-color: #FA0F00;"></span>Adobe Experience Manager</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #f46f25;"></span>Magento (Adobe Commerce)</span>
      </div>
    </div>
    <div class="skills__category">
      <h4 class="skills__category-title">Standards & Tools</h4>
      <div class="skills__tags">
        <span class="skills__tag"><span class="skills__dot" style="background-color: #58a6ff;"></span>BEM</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #58a6ff;"></span>WCAG</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #99425B;"></span>Jest</span>
        <span class="skills__tag"><span class="skills__dot" style="background-color: #F24E1E;"></span>Figma</span>
      </div>
    </div>
  </div>
</section>
