@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.exp-page {
  &__header {
    h1 {
      font-size: $font-size-xl;
      font-weight: $font-weight-semibold;
      color: $color-text-primary;
      margin-bottom: $spacing-sm;
    }

    p {
      font-size: $font-size-base;
      color: $color-text-secondary;
    }
  }
}
